#container {
  margin: 30px;
}

#container div {
  margin-top: 20px;
  margin-bottom: 10px;
}

label {
  width: 110px;
  display: inline-block;
}

button {
  background-color: darkgray;
  color: antiquewhite;
  border-radius: 5px;
  font-size: large;
}
